@import url(//db.onlinewebfonts.com/c/bec3644fbb99759baf1d9dc9df1f187e?family=LomoCopy+LT+Std+Regular);

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
    }

*,
*:before,
*:after {
    box-sizing: border-box;
}

 :after {
    content: "";
}

body {
    background-image: url(../Background.png);
}

.conteudo {
display: flex;
align-items: center;
gap: 30px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background-color: rgba(60, 1, 74, 0.585);
}

header li {
    color: rgb(255, 255, 255);
    font-family: "LomoCopy LT Std Regular";
    font-size: 2vh;
    list-style: none;
    background-image: linear-gradient(#330150, rgb(87, 0, 99));
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     transition: background-size .7s, background-position .5s ease-in-out;
}

header .navigation {
    display: flex;
    justify-content: center;
    gap: 7vh;
}

header li:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
    filter: drop-shadow(16px 16px 20px rgba(62, 0, 95, 0.755));
  }

header .navigation li {
    list-style: none;
}

header .navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 1px;
}

header .navigation li a:hover {
    color: blueviolet;
    font-weight: bold;
}

header .search {
    position: relative;
    width: 20vw;
    height: 40px;
}

header .search input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.736);
    background: transparent;
    outline: none;
    border: 1px solid rgb(175, 117, 230);
    border-radius: 5px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder {
    color: rgb(202, 161, 240);
}

header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: aliceblue;
    border-right: 1px solid #fff;
    width: 25px;
    padding-right: 5px;
}

.barra {
    width: 20px;
}

.logo {
    width: 7vw;
}

.lupinha {
    width: 25px;
}

.lupa {
    display: flex;
    justify-content: right;
}

nav {
    float: left;
    position: relative;
    top: 50px;
    right: 50px;
    background: transparent;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav ul li {
    margin-top: 1px;
    position: relative;
    width: 70px;
    height: 80px;
    cursor: pointer;
    background: rgba(60, 1, 74, 0.585);
    text-transform: uppercase;
    transition: all .4s ease-out;
}

nav ul li:after {
    position: absolute;
    background: white;
    color: rgb(90, 20, 220);
    top: 0;
    left: 70px;
    width: 70px;
    height: 100%;
    opacity: .5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition: all .4s ease-out;
}

nav ul li:nth-child(1):after {
    content: "Home";
    font-weight: 800;
    line-height: 88px;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(2):after {
    content: "PVP";
    font-weight: 800;
    line-height: 88px;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(3):after {
    content: "MMOFPS";
    font-size: 0.7em;
    line-height: 88px;
    font-weight: 800;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(4):after {
    content: "SURVIVAL";
    font-size: 0.7em;
    line-height: 88px;
    font-weight: 800;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(5):after {
    content: "CARD";
    line-height: 88px;
    font-weight: 800;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(6):after {
    content: "FIGHTING";
    font-size: 0.7em;
    line-height: 88px;
    font-weight: 800;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(7):after {
    content: "SHOOTING";
    font-size: 0.7em;
    line-height: 88px;
    font-weight: 800;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:nth-child(8):after {
    content: "OPEN-WORLD";
    font-size: 0.6em;
    font-weight: 800;
    line-height: 88px;
    width: 100px;
    font-family: "LomoCopy LT Std Regular";
}

nav ul li:hover {
    transform: translateX(-70px);
}

nav ul li:hover:after {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) scale(1);
}

nav ul li>div {
    display: inline-block;
    padding: 25px 0;
    background: transparent;
}

nav ul li div {
    position: relative;
}

.mundo-icon{
    font-size: 20px;
}

.mundo {
    width: 35px;
    filter: invert();
}

.pvp{
    width: 25px;
    filter: invert();
}

.mmofps{
    width: 35px;
    filter: invert();
}

.survival{
    width: 35px;
    filter: invert();
}

.carta{
    width: 35px;
    filter: invert();
}

/* =========================================== */


input[type=checkbox] {
    margin: 0px;
    display: none;
    transition: 0.5s;
}

label i.fa:before {
    content: '\f005';
    color: #CCC;
    cursor: pointer;
    transition: 0.5s;
}

input[type=checkbox]:checked~label i.fa:before {
    color: #FC0;
    transition: 0.5s;
}

.search input:focus {
    background-color: #350154;
}

.jogos {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    font-family: 'Rocher';
    font-weight: bold;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    filter: drop-shadow(16px 16px 20px rgba(62, 0, 95, 0.755));
}

/* .jogo img:hover {
    width: 43vh;
} */

.jogo {
    margin-top: 3%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.jogo img {
    border-radius: 10%;
    width: 40vh;
}

.imagem-jogo {
    display: inline-flex;
    align-items: flex-start;
}

.imagem-jogo input {
    position: relative;
    top: 10px;
    left: -30px;
}

.botao_carregar {
    font-size: 800;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    align-items: center;
    background-color: #02001f;
    color: white;
    border-color: rgb(60, 0, 98);
    box-shadow: 1px 1px #f3f3f52f;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1rem;
    font-weight: bold;
    font-family:"LomoCopy LT Std Regular";
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    margin-top: 3%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.card img {
    border-radius: 10%;
    width: 40vh;
}
  
  .hide {
    display: none;
  }
    
    .header{
        margin-top: 3%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imagen_game{
        background-color: #CCC;
        padding: 20px 20px 20px 20px;
        
    }
    
    
    video{
        width: 36vw;
        border-radius: 30px;
        margin-bottom: 20px;
        filter: drop-shadow(16px 16px 20px rgba(62, 0, 95, 0.755));
    }
    
    .imagem_game{
        display: inline-flex;
        background-color: #240138;
        padding: 1.6vw 0vh 0vh 3vh;
        width: 89vw;
        height: 23vw;
        border-radius: 30px;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    .imagen_game_center{
        display:flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5em;
        color: aliceblue;
        padding-left: 4vw;
        font-family: 'Rocher';
        filter: drop-shadow(16px 16px 20px rgba(62, 0, 95, 0.755));
    }


.imagen_game_center {
font-palette: --Grays;
}

.jogos{
    font-palette: --Grays;
}

.jogo img:hover{
    transform: translateY(0);
    box-shadow:
    inset 0 0 20px whitesmoke,
    inset 20px 0 40px #f0f,
    inset -20px 0 40px #0ff,
    inset 20px 0 100px #f0f,
    inset -20px 0 100px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    transition: .5s;
    transform: translateY(-10px);
}

.jogo{
    
}

